@media screen and (max-width: 1024px) {
    .content-wrap {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 760px) {
    img { max-width: 90%; }
    .navbtn {width: 50%;}
    tr>td:first-of-type, tr>th:first-of-type{ display:none;}
    .table-wrap { padding: 1rem;}
    table {width: 100%;}
}
@media screen and (max-width: 320px) {
    th, td{padding:0.2rem;}
}
@media screen and (max-width: 300px) {
    .table-wrap {border: none;}
}
