:root {
    --primary-color: #eccc68;
    --primary-dark-color: #2f3542; 
    --primary-dark-rgba: rgb(47,53,66,0.7); /* primary dark in rgb, but transparent*/
    --font-family-head: 'Marck Script', cursive;
    --font-family-content: 'Roboto', sans-serif;
    --text-color:#2f3542; 
    --light-text-color: #ffffff;
}
